@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-master {
    @apply bg-gradient-to-r from-master-900 via-master-700 to-master-400 bg-clip-text  text-transparent;
  }

  .master-button {
    @apply relative  hover:text-master-900  hover:-translate-y-1 shadow-xl bg-background/30 after:content-[''] after:absolute after:rounded-full after:inset-0 after:bg-background/40 after:z-[-1] after:transition after:!duration-500 hover:after:scale-150 hover:after:opacity-0;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 100;
}
